<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>33DD5E51-8C92-434C-B663-99029FE0AC05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07DE3102-718B-46C7-BDA9-1ADDD1B76780</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bryan Lokey</string>
	<key>description</key>
	<string>Toggle connections for your bluetooth devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#!/bin/zsh
 
{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>07DE3102-718B-46C7-BDA9-1ADDD1B76780</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Connect All","arg":"blueutil --connect {var:Headphones_Address}; blueutil --connect {var:Mouse_Address}; blueutil --connect {var:Keyboard_Address}; ","subtitle":"Connect keyboard, trackpad, and headphones"},{"title":"Connect Airpods","arg":"blueutil --connect {var:Airpods_Address}"},{"title":"Connect Headphones","arg":"blueutil --connect {var:Headphones_Address}"},{"title":"Connect Keyboard","arg":"blueutil --connect {var:Keyboard_Address}"},{"title":"Connect Mouse","arg":"blueutil --connect {var:Mouse_Address}","subtitle":""},{"title":"Disconnect All","arg":"blueutil --disconnect {var:Keyboard_Address}; blueutil --disconnect {var:Mouse_Address}; blueutil --disconnect {var:Headphones_Address}","subtitle":"Disconnect keyboard, trackpad, headphones, and airpods"},{"title":"Toggle","arg":"if [ `blueutil -p |grep 1` = \"1\" 2&gt;\/dev\/null 2&gt;\/dev\/null ]; then blueutil -p 0; else blueutil -p 1; fi"}]</string>
				<key>keyword</key>
				<string>bt</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Control your bluetooth devices</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>33DD5E51-8C92-434C-B663-99029FE0AC05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Requires Blueutil (https://github.com/toy/blueutil)</string>
	<key>uidata</key>
	<dict>
		<key>07DE3102-718B-46C7-BDA9-1ADDD1B76780</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>33DD5E51-8C92-434C-B663-99029FE0AC05</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>xx-xx-xx-xx-xx-xx</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>The MAC Address for your Keyboard</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>Keyboard_Address</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>xx-xx-xx-xx-xx-xx</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>The MAC Address for your Mouse</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>Mouse_Address</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>xx-xx-xx-xx-xx-xx</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>The MAC Address for your Headphones</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>Headphones_Address</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>xx-xx-xx-xx-xx-xx</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>The MAC Address for your Airpods</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>Airpods_Address</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://bryanlokey.com</string>
</dict>
</plist>
